link(rel='stylesheet', href='../../component/labeledTextLine/labeledTextLine.css')

mixin labeledTextLine(labelName, textValue)
    section.labeledTextLine
        label.labeledTextLine__label=labelName
        p( class=('labeledTextLine__text'+(typeof attributes.class === 'undefined' ? '' : ' '+attributes.class)))=textValue
