extends ../../template/chatPageTmpl/chatPageTmpl.pug

block includes
    include ../../component/sidebar/sidebar.pug
    include ../../component/chatSelected/chatSelected.pug
    include ../../component/modalAddRemoveUser/modalAddRemoveUser.pug
block sidebar
    +sidebar
block mainContent
    +chatSelected
    +modalAddRemoveUser('add')
    +modalAddRemoveUser('remove')