link(rel='stylesheet', href='../../component/messageMy/messageMy.css')

mixin messageMy(time)
    section.messageMy
        .messageMy__wrapper
            article.messageMy__text
                block
            time.messageMy__time= time