@import '../../common/variables.css';

.messageMy {
    max-width: 380px;
    min-width: 100px;
    font-size: var(--font-size-sm);
    padding: 11px;
    background-color: var(--main-hover-color);
    border-radius: 8px;
    display: inline-block;
    position: relative;

    &__time {
        display: block;
        text-align: end;
        color: var(--main-color);
        font-size: var(--font-size-xxs);
    }
}