@import '../../common/variables.css';

.buttonChatActions {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 12px;

    svg circle {
        transition-duration: 0.2s;
    }

    &:hover svg circle {
        fill: var(--main-hover-color);
    }

    &:active svg circle {
        fill: var(--main-color);
    }

    &_active {
        svg circle {
            fill: var(--main-color);
        }

        &:hover svg circle {
            fill: var(--main-color);
        }
    }
}