aside(class=style.root)
    section(class=style.searchProfile)
        div(class=style.profileLinkWrapper data-parent-for='profileLink')
        div(data-parent-for='searchChatForm')
    div(class=style.chatsList data-parent-for='chatsList')
