@import "../../common/variables.css";

.root {
  max-width: 380px;
  min-width: 100px;
  font-size: var(--font-size-sm);
  padding: 11px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
}

.time {
  display: block;
  text-align: end;
  font-size: var(--font-size-xxs);
}

.type {
  &_default {
    &.root {
      background-color: var(--bcg-message-color);
    }
    .time {
      color: var(--pale_text-color);
    }
  }

  &_my {
    &.root {
      background-color: var(--main-hover-color);
    }
    .time {
      color: var(--main-color);
    }
  }
}
