div(data-state='class:outerWrapperClassName')
    div(data-state='class:closeElemClassName' data-actions='click:handleClose')
    section(data-state='class:rootClassName')
        form(data-actions='submit:handleSubmit')
            h2(data-state='class:headerClassName') Загрузите файл
            div(data-state='class:changeBtnClassName')
                div(data-component='changeBtn') 
            div(data-state='class:submitClassName')
                div(data-component='buttonMain')