@import "../../common/variables.css";

.root {
	display: block;
	margin: 0;
	background-color: var(--gray-bcg-color);
	overflow: hidden;
}

.size {
	&_sm {
		height: 34px;
		width: 34px;
		border-radius: 17px;
	}

	&_md {
		height: 47px;
		width: 47px;
		border-radius: 32px;
	}

	&_lg {
		height: 130px;
		width: 130px;
		border-radius: 65px;
		background: url("noImage.svg") no-repeat center center var(--gray-bcg-color);
		align-self: center;
		position: relative;
	}
}

.image {
	height: 100%;
	width: 100%;
	object-fit: "cover";
}
