@import "../common/variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

input {
  color: var(--main-text-color);
  font-family: Inter, sans-serif;
  font-size: var(--font-size-sm);

  &::placeholder {
    font-family: Inter, sans-serif;
    font-size: var(--font-size-sm);
    color: var(--pale_text-color);
  }
}

.page {
  display: flex;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin: auto;
  box-sizing: border-box;
  width: 340px;
  padding: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.form__top {
  display: flex;
  flex-direction: column;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  justify-self: self-end;
}

.pageHeader {
  align-self: center;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--main-text-color);
  padding: 20px;
}
