include ../../component/inputSearch/inputSearch.pug
include ../../component/chatsList/chatsList.pug
include ../../component/profileLink/profileLink.pug
include ../../component/searchChatForm/searchChatForm.pug
link(rel='stylesheet', href='../../component/sidebar/sidebar.css')

mixin sidebar
    aside.sidebar
        section.sidebar__search-profile
            div.sidebar__profile-link-wrapper
                +profileLink
            +searchChatForm
        div.sidebar__chats-list
            +chatsList