@import '../../common/variables.css';

.sidebar {
    background-color: var(--light-gray-bcg-color);
    max-width: 310px;
    height: 100%;
    border-right: 1px solid var(--divider-color);

    &__search-profile {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    &__profile-link-wrapper {
        height: 56px;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__chats-list {
        margin-top: 14px;
        height: calc(100vh - 102px);
    }
}