@import '../../common/variables.css';

.buttonAddFile {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    
    &__icon {
        path {
            transition-duration: 0.2s;
        }
    }

    &:hover {
        .buttonAddFile__icon path {
            fill: var(--main-hover-color);
        }
    }

    &_active {
        .buttonAddFile__icon path {
            fill: var(--main-color);
        }

        &:hover .buttonAddFile__icon path {
            fill: var(--main-color);
        }
    }
}