@import '../../common/variables.css';

.button {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;    
    font-size: var(--font-size-md);
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--main-color);
    line-height: 37px;
    border-radius: 8px;
    &_test {

    }
}
.buttonTransparent {
    align-self: center;
    background-color: inherit;
    color: var(--main-color);
}
.button_Red_Text {
    color: var(--alarm-color);
}
.button_Left {
    align-self: flex-start;
}