.root {
	align-self: center;
	position: relative;
	display: flex;
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}

.popup {
	position: absolute;
	height: 130px;
	width: 130px;
	display: flex;
	opacity: 0;
	border-radius: 75px;
	color: #ffffff;
	z-index: 1000;
	text-align: center;

	&:hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.5);
		align-items: center;
		justify-content: center;
	}
}
