li(class=style.root)
  div(href='/selectedChat/' + chatId data-state='class:classLink' data-actions='click:handleChatChange')
    div(data-component='chatSelectableElem')
  //- case isActive
  //-   when true
  //-     div(class=style.link data-actions='click:testHandler')
  //-       div(data-component='chatSelectableElem')
  //-   when false
  //-     a(class=style.link href='/selectedChat/' + chatId)
  //-       div(data-component='chatSelectableElem')