@import '../../common/variables.css';

.inputString {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    &__label {
        font-size: var(--font-size-xxs);
        line-height: 9px;        
        color: var(--pale_text-color);
        margin-bottom: 8px;
    }
    &__input, &__inputWithoutId {
        outline: none;
        font-size: --font-size-md;
        line-height: 13px;
        border: none;
        border-bottom: 1px solid var(--main-color);
        color: var(--main-text-color);
    }
}
.inputString_color_alarm {
    .inputString {
        &__input, &__inputWithoutId {
            color: var(--alarm-color) !important;
            border-bottom-color: var(--alarm-color) !important;
        }
    }
}
.inputString_in_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: var(--font-size-md);
    line-height: var(--font-size-md);
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 0px;
    .inputString {
        &__label {
            color: var(--main-text-color);
            font-size: var(--font-size-md);
            line-height: var(--font-size-md);
            margin: 0;
        }
    }    
    .inputString {
        &__input, &__inputWithoutId {
            color: var(--pale_text-color);
            font-size: var(--font-size-md);
            line-height: var(--font-size-md);
            border-bottom: none;
            width: 300px;
            text-align: right;
            padding: 0;
        }
    }    
}
.inputString_color_faded {
    .inputString {
        &__label {
            color: var(--faded-color) !important;
        }
        &__input, &__inputWithoutId {
            color: var(--faded-color) !important;
        }
    }
}