@import "../../common/variables.css";

.root {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.contentWrapper {
  margin-left: 10px;
  width: 192px;
}

.name {
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 13px;
  padding: 0;
  margin: 0;
}

.previewText {
  color: var(--pale_text-color);
  font-size: var(--font-size-sm);
  line-height: 15px;
  margin: 0;
  margin-top: 4px;
}

.imageAvatar {
  flex-shrink: 0;
}

.addInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}

.timeLastMessage {
  color: var(--pale_text-color);
  font-size: var(--font-size-xxs);
  line-height: 13px;
  align-self: flex-end;
  display: block;
  width: 25px;
}

.unreadedMessagesCount {
  background-color: var(--main-color);
  min-width: 20px;
  padding: 0 2px;
  line-height: 20px;
  font-size: var(--font-size-xs);
  border-radius: 10px;
  text-align: center;
  color: white;
}
