extends ../../layout.pug

block content
    link(rel='stylesheet', href='profile.css')    
    include ../../component/labeledTextLine/labeledTextLine.pug
    include ../../component/button/buttonMix.pug
    include ../../component/imageAvatar/imageAvatar.pug
    include ../../component/loaderDialog/loaderDialog.pug
    include ../../component/leftNavPanel/leftNavPanel.pug

    - var loaderDialogId='profileAvatarLoader'
    +loaderDialog(loaderDialogId)
    main.page
        +leftNavPanel('/')
        form.form.profileForm
            div.form__top
                a.profileForm__avatarLink(href="#", onclick='window.showDialog("'+loaderDialogId+'",true);')
                    +imageAvatar('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=','', 'size_lg','imageAvatar_editable')
                    .profileForm__editAvatarText
                        div
                            | Поменять аватар
                h1.pageHeader Иван
                +labeledTextLine("Почта","pochta@yandex.ru")
                +labeledTextLine("Логин","ivanivanov")
                +labeledTextLine("Имя","Иван")
                +labeledTextLine("Фамилия","Иванов")
                +labeledTextLine("Имя в чате","Иван")
                +labeledTextLine("Телефон","+7 (909) 967 30 30")
            nav.form__bottom
                +button('btnEditProfile', 'Изменить данные', '/profileEdit')(class='button_Left buttonTransparent')
                +button('btnEditPassword', 'Изменить пароль', '/changePassword')(class='button_Left buttonTransparent')
                +button('btnClose', 'Выйти', '/')(class='button_Left buttonTransparent button_Red_Text')