@import '../../common/variables.css';

.popupAddFile {
    &__list {
        width: 196px;
    }

    &__listItem:nth-child(even) {
        margin-top: 16px;
    }

    &__icon {
        margin-right: 16px;
    }
}