@import '../../common/variables.css';

.inputSearch {
    background-color: var(--gray-bcg-color);
    line-height: 32px;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 5px;
    padding: 0 4px;

    &::placeholder {
        text-align: center;
        background-image: url('../../component/inputSearch/searchIcon.svg');
        background-repeat: no-repeat;
        background-position: 100px 50%;
    }
} 