@import '../../common/variables.css';

.messageImage {
    max-width: 380px;
    min-width: 100px;
    font-size: var(--font-size-sm);
    border-radius: 8px;
    display: inline-block;
    position: relative;

    &__img {
        margin: 0;
    }

    &__time {
        background-color: var(--gray-img-time-color);
        color: white;
        font-size: var(--font-size-xxs);
        padding: 2px 7px;
        border-radius: 30px;
        position: absolute;
        right: 12px;
        bottom: 12px;
    }
}