link(rel='stylesheet', href='../../component/messageImage/messageImage.css')

mixin messageImage(time)
    section.messageImage
        .messageImage__wrapper
            figure.messageImage__img
                block
            time.messageImage__time= time