@import "../../common/variables.css";

.wrapper {
  position: relative;
}

.root {
  position: absolute;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background-color: white;
}

.inner {
  overflow: hidden;
  transition-duration: 0.4s;
  height: 0;

  &_open {
    padding: 16px;
    height: auto;
  }
}
