link(rel='stylesheet', href='../../component/loaderDialog/loaderDialog.css')
include ../../component/button/buttonMix.pug

mixin loaderDialog(dialogId)
    div.loaderDialog__shadow(id=dialogId+'_shadow')
    div.loaderDialog__container(id=dialogId)
        div.loaderDialog
            h2.loaderDialog__caption='Загрузите файл'
            input.loaderDialog__input(id="loaderDialog__input_id",type="file")
            label.loaderDialog__label(for='loaderDialog__input_id')='Выбрать файл на компьютере'
            +button('btnAccept', 'Поменять', '#', 'window.showDialog("'+dialogId+'",false);')(class='loaderDialog__button')
