link(rel='stylesheet', href='../../component/popup/popup.css')

mixin popupView(id, width, position)
    section.popup(style=position)
        .popup__inner(id=id, sytle=width)
            block

mixin popup(id, width, position='top')
    case position
        when 'top'
            +popupView(id, width, 'bottom: calc(100% + 22px)')
                block
        when 'bottom'
            +popupView(id, width, 'top: calc(100% + 22px); right: 0;')
                block

mixin popupWrapper
    .popup__wrapper
        block