head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Лимонный веб-мессенджер")
    title Lemon messenger
    script(src='../../../src/app.js')
    link(rel="shortcut icon", href="../../favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap")
    link(rel="stylesheet", href="../../common/commonStyles.css")