@import "../../common/variables.css";

.root {
	background-color: var(--light-gray-bcg-color);
	max-width: 310px;
	height: 100%;
	border-right: 1px solid var(--divider-color);
}

.searchProfile {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.profileLinkWrapper {
	height: 56px;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.chatsList {
	margin-top: 14px;
	height: calc(100vh - 102px);
}
