@import "../../common/variables.css";

.root {
	background-color: var(--light-gray-bcg-color);
	max-width: 310px;
	height: 100%;
	border-right: 1px solid var(--divider-color);
}

.searchProfile {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.chatsList {
	margin-top: 14px;
	height: calc(100vh - 152px);
}

.buttonAddChat {
	margin: 14px 10px 0;
}
