extends ../../layout.pug

block content
    link(rel='stylesheet', href='auth.css')
    include ../../component/inputString/inputStringMix.pug
    include ../../component/button/buttonMix.pug
    main.page
        form.form.authForm
            div.form__top
                h1.pageHeader Вход
                +inputString("Логин","auth-login")
                +inputString("Пароль","auth-password",'password')
            nav.form__bottom
                +button('btnLogin', 'Авторизоваться', '/home')
                +buttonTransparent('btnRegister', 'Нет аккаунта?', '/register')