.leftNavPanel {
    width: 64px;
    height: 100vh;
    background: var(--light-gray-bcg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__backLink {
        width: 28px;
        height: 28px;
    }
}