extends ../../layout.pug

block content
    link(rel="stylesheet", href="../../template/chatPageTmpl/chatPageTmpl.css")
    block includes
    section.page
        block sidebar
        main.page__mainContent
            block mainContent
    script(src='../../../src/app.js')