@import '../../common/variables.css';

.profileLink {
    display: flex;
    font-size: var(--font-size-sm);
    color: var(--pale_text-color);
    line-height: var(--font-size-sm);
    transition-duration: 0.2s;
    cursor: pointer;

    &__icon {
        margin-left: 8px;
        align-self: center;
        path {
            transition-duration: 0.2s;
        }
    }

    &:hover {
        color: var(--main-color);

        .profileLink__icon {
            path {
                stroke: var(--main-color);
            }
        }
    }

    &:active {
        color: var(--main-hover-color);

        .profileLink__icon {
            path {
                stroke: var(--main-hover-color);
            }
        }
    }
}