:root {
    --main-color: #3369F3;
    --main-hover-color: #E4EDFD;
    --bcg-message-color: #F8F8F8;
    --light-gray-bcg-color: #FBFBFB;
    --gray-img-time-color: #5252527F;
    --gray-bcg-color: #EFEFEF;
    --main-text-color: #1E1E1E;
    --pale_text-color: #999999;
    --divider-color: #EAEAEA;
    --alarm-color: #FF2F2F;
    --faded-color: #BBCDFB;

    --font-size-xl: 20px;
    --font-size-lg: 15px;
    --font-size-md: 13px;
    --font-size-sm: 12px;
    --font-size-xs: 11px;
    --font-size-xxs: 9px;
}
