extends ../../template/chatPageTmpl/chatPageTmpl.pug

block includes
    include ../../component/sidebar/sidebar.pug
    include ../../component/chatStub/chatStub.pug
block sidebar
    +sidebar
block mainContent
    +chatStub