extends ../../layout.pug

block content
    link(rel='stylesheet', href='../profile/profile.css')
    link(rel='stylesheet', href='changePassword.css')
    include ../../component/button/buttonMix.pug
    include ../../component/imageAvatar/imageAvatar.pug
    include ../../component/inputString/inputStringMix.pug
    include ../../component/leftNavPanel/leftNavPanel.pug

    main.page
        +leftNavPanel('/profile')    
        form.form.profileForm.changePasswordForm
            div.form__top
                +imageAvatar('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=','', 'size_lg')

                +inputString('Старый пароль','old_password','password','old_password')(class='inputString_in_row')
                +inputString('Новый пароль','new_password','password','ivanivanov')(class='inputString_in_row')
                +inputString('Повторите новый пароль','new_password_again','password','ivanivanov')(class='inputString_in_row inputString_color_faded')
                div.changePasswordForm__errorMessage='Пароли не совпадают'
            nav.form__bottom
                +button('btnSave', 'Сохранить', '/profile')