.changePasswordForm {
    height: 550px;
    .button {
        width: 280px;
        margin-bottom: 70px;
    }
    .form__bottom {
        align-self: center;
    }
    .imageAvatar {
        margin-bottom: 60px;
    }
    .inputString {
        &__input {
            width: 200px !important;
        }
    }
    &__errorMessage {
        display: none;
        color: var(--alarm-color);
        font-size: var(--font-size-xs);
        align-self: center;
        padding-top: 10px;
    }
}