form(class=style.root data-actions='submit:handleSubmit')
    div(data-component='popupAddFile')
    div(class=style.inputSendMessage data-component='inputSendMessage')
    div(class=style.buttonSubmitSendMessageForm data-component='buttonSubmitSendMessageForm')