li(class=style.root)
  case isActive
    when true
      div(class=style.link data-parent-for='chatSelectableElem' data-event-listeners='click:testHandler')
    when false
      a(class=style.link href='/selectedChat/' + chatId, data-parent-for='chatSelectableElem')