form(class=style.root data-event-listeners='submit:submitHandler')
    div(data-parent-for='popupAddFile')
    div(class=style.inputSendMessage data-parent-for='inputSendMessage')
    div(class=style.buttonSubmitSendMessageForm data-parent-for='buttonSubmitSendMessageForm')