.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputSendMessage {
  flex-grow: 1;
  margin-left: 10px;
}

.buttonSubmitSendMessageForm {
  margin-left: 10px;
}
